* {
    margin: 0;  /*Borra márgenes por defecto*/
    padding: 0; /*Borra rellenos por defecto*/
    box-sizing: border-box; /*Evita que el padding aumente el tamaño real del elemento*/
    font-family: Arial, Helvetica, sans-serif;  /*Fuente general*/
}

body{
    background-color: black;    /*Fondo negro para toda la página*/
    color: white;   /*Texto blanco por defecto*/
}

.encabezado{
    height: 100vh;  /*Lo que ocupa la altura de la pantalla*/
    background: url("img/home-bg.jpg") center/cover no-repeat; /*Imagen de fondo centrada y ajustada*/
    position: relative; /*Posicion en la que se coloca*/
}

nav {
    position: absolute; /*Para que se coloque encima de la imagen*/
    top: 0; /*Para que se coloque en la parte superior*/
    width: 100%; /*Ancho que va a ocupar*/
    padding: 25px 60px; /*Espacios de rellenos dentro*/
    display: flex; /*Para que se alineen horizontalmente*/
    justify-content: space-between; /*Para que la derecha y la izquierda esten separadas*/
    align-items: center; /*Alineación en el centro de manera vertical*/
}

.nav-izq p {
    font-size: 17px; /*Tamaño del texto*/
    font-weight: bold; /*Letra en negrita "gruesa"*/
}

.nav-drc a {
    margin-left: 70px; /*Separacion*/
    text-decoration: none; /*Quitar el subrayado*/
    color: white; /*Color blanco del texto*/
    font-size: 17px; /*Tamaño del texto*/
}

.nav-drc a:hover {
    color: gray; /*Aclarar color cuando pasamos ratón*/
}

header {
    height: 100%; /*Ocupar la altura del encabezado*/
    display: flex; /*Alineación horizontalmente*/
    align-items: center; /*Alinear en el centro verticalmente*/
    padding-left: 60px; /*Distancia de separado de la izquierda*/
}

.header-title h1 {
    font-size: 80px; /*Tamaño del texto*/
    line-height: 1; /*Espacio entre lineas*/
}

.header-title h2 {
    font-size: 19px; /*Tamaño del texto*/
    letter-spacing: 2px; /*Separación entre letras*/
}

#parrafo1 {
    font-size: 15px; /*Tamaño del texto*/
    margin-top: 10px; /*Separacion por arriba*/
}

#boton1 {
    margin-top: 25px; /*Separación con el texto*/
    padding: 12px 25px; /*Espaciado abajo y arriba*/
    border-radius: 6px; /*Curva de las esquinas del boton*/
    border: none; /*Eliminar borde*/
    background: gray; /*Color de fondo del boton*/
    cursor: pointer; /*Poner la mano al pasar el ratón por encima*/
}

#boton1 p {
    color: white; /*Color del texto de dentro del botón*/
    font-weight: bold; /*Letras en negrita "gruesas" dentro del botón*/
    font-size: 15px; /*Tamaño del texto*/
}

.gallery {
    display: flex; /*Alineacion horizontal*/
    justify-content: center; /*centrar las imagenes*/
    gap: 20px; /*Espacio entre las imagenes*/
    padding: 40px 0; /*Espacio vertical alrededor*/
    margin-top: -70px; /*La sube sobre la imagen del encabezado*/
}

.gallery div {
    position: relative; /*Colocar el texto encima*/
    width: 330px; /*Ancho fijo*/
    height: 150px; /*Alto fijo*/
    border-radius: 12px; /*Redondeo de los bordes*/
    overflow: hidden; /*Ocultar exceso de la imagen*/
    cursor: pointer; /*Pone la mano al pasar el raton por encima*/
}

.gallery img {
    width: 100%; /*Tamaño imagen adaptada al ancho del contenedor*/
    height: 100%; /*Tamaño imagen adaptada al alto del contendor*/
    object-fit: cover; /*Cortar imagen sin deformar*/
}

.gallery span {
    position: absolute; /*Colocar el texto encima de la imagen*/
    bottom: 10px; /*Separacion por abajo*/
    left: 10px; /*Separación desde la izquierda*/
    color: white; /*Color de el texto*/
    font-weight: bold; /*Texto en negrita "grueso"*/
    font-size: 19px; /*Tamaño del texto*/
    text-shadow: 2px 2px 5px black; /*Sombra en el texto*/
}

.about{
    padding-left: 8%; /*Distancia de separado de la izquierda*/
    display: flex; /*Alinearlo horizontalmente*/
    gap: 30%; /*Distancia de la imagen sobre el texto*/
}
.about #about1 #h1-1{
    font-size: 40px; /*Tamaño de la fuente*/
    padding-top: 25%; /*Distancia de separado por arriba*/
    
}

.about #about1 #h1-2{
    font-size: 40px; /*Tamaño de la fuente*/
    padding-bottom: 2%; /*Distancia por la parte inferior*/
    
}

.about #about1 p{
    font-size: 15px; /*Tamaño de la fuente*/
}

.about #about1 #boton2{
    margin-top: 25px; /*Separación con el texto*/
    padding: 12px 25px; /*Espacio arriba y abajo*/
    border-radius: 6px; /*Curva de las esquinas del boton*/
    border: none; /*Eliminar borde*/
    background: gray; /*Color de fondo del boton*/
    cursor: pointer; /*Poner la mano al pasar el ratón por encima*/ 
}

.about #about1 #boton2 p{
    color: white; /*Color del texto de dentro del botón*/
    font-weight: bold; /*Letras en negrita "gruesas" dentro del botón*/
    font-size: 15px; /*Tamaño del texto*/
}

.about #about2 {
    display: flex; /*Alinearlo horizontalmente*/
    align-items: center; /*Objetos alineados en el centro*/
    justify-content: center; /*Contenido justificado en el centro*/
    padding-top: 4%; /*Distancia de seperado desde arriba*/
}

.about #about2 img {
    width: 350px;   /*Tamaño de la imagen por ancho*/
    height: auto;   /*Tamaño de la imagen por alto*/
}

.popular {
    padding-top: 80px; /*Distancia serparada desde arriba*/
    text-align: center; /*Texto alineado en el centro*/
}

.popular h1{
    font-size: 40px; /*Tamaño de la fuente*/
}

.popular .gallery2 {
    margin-top: 40px; /*Distancia de margen con el titulo*/
    display: flex; /*Alinearlo horizontalmente*/
    justify-content: center; /* Justificarlo todo en el centro*/
    gap: 40px; /*Distancia de separado entre imagenes*/
    flex-wrap: wrap; /*Para que si no caben bajen*/
}

.popular .gallery2 img{
    width: 300px; /*Ancho de la imagen*/
    height: 200px; /*Alto de la imagen*/
    object-fit: cover; /*Recortar imagen sin deformar*/
    border-radius: 12px; /*Borde redondeado*/
}

.popular h2{
    margin: 12px 0 5px 0; /*Margen arriba y abajo*/
    font-size: 20px; /*Tamaño del texto*/
    text-align: left; /*Texto alineado a la izquierda*/
}

.popular p{
    font-size: 12px; /*Tamaño del texto*/
    text-align: left; /*Texto alineado a la izquierda*/
    padding-bottom: 40%; /*Distancia por abajo*/
}

.explore {
  background-image: url(img/explore-beach.jpg); /*Metemos la imagen de fondo para le seccion*/
  background-size: cover; /*Para cubir todo el espacio*/
  background-position: center; /*Para que la imagen de fondo este en el centro*/
  height: 400px; /*Altura de la imagen*/
  position: relative; /*Para poder colocar texto encima*/
  width: 100%; /*Ancho de la imagen*/
}

.explore div {
  position: absolute; /*Colocar texto encima de la imagen*/
  bottom: 20px; /*Distancia por abajo*/
  padding-left: 80px; /*Distancia por la izquierda*/
  text-align: left; /*Texto alineado a la izquierda*/
}

.explore h1 {
  font-size: 40px; /*Tamaño de fuente*/
}

.explore2 {
    display: flex; /*Alinear horizontalmente*/
    justify-content: space-between; /*Separamos derecha y izquierda*/
    align-items: center; /*Alinear los objetos en el centro*/
}
    
.explore2 #p-izq {
    padding-top: 2%; /*Distancia de separado por la parte de arriba*/
    justify-content: center; /*Contenido justificado en el centro*/
    padding-left: 80px; /*Distancia de separado por la izquierda*/
}

.explore2 #p-drc {
    text-align: right; /*Texto alineado a la derecha*/
    padding-right: 80px; /*Distancia de separado por la derecha*/
}